<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>系统概览</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <%- include inc/style.html %>

    <link href="/templete/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/templete/plugins/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css"/>
</head>
<body class="fixed-header <%= menupin %> ">

<%- include inc/sidebar.html %>


<div class="page-container">

    <%- include inc/header.html %>



    <div class="page-content-wrapper">

        <div class="content" id="content">

            <div class="jumbotron" data-pages="parallax">
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="inner">

                        <ul class="breadcrumb">
                            <li>
                                <p>baleina</p>
                            </li>
                            <li><a href="#" class="active">系统概览</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid container-fixed-lg">
                <div class="row">
                    <div class="col-md-6 m-b-6">

                        <div class="widget-14 panel no-border  no-margin widget-loader-circle web-server">
                            <div class="container-xs-height full-height">
                                <div class="row-xs-height">
                                    <div class="col-xs-height">
                                        <div class="panel-heading">
                                            <div class="panel-title">前端服务器状态
                                            </div>
                                            <div class="panel-controls">
                                                <ul>
                                                    <li><a href="javascript:;" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-xs-height" style="display: none;">
                                    <div class="col-xs-height">
                                        <div class="p-l-20 p-r-20">
                                            <p>Server: www.revox.io</p>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-12">
                                                    <h4 class="bold no-margin">5.2GB</h4>
                                                    <p class="small no-margin">Total usage</p>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <h5 class=" no-margin p-t-5">227.34KB</h5>
                                                    <p class="small no-margin">Currently</p>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <h5 class=" no-margin p-t-5">117.65MB</h5>
                                                    <p class="small no-margin">Average</p>
                                                </div>
                                                <div class="col-lg-3 visible-xlg">
                                                    <div class="widget-14-chart-legend web-server bg-transparent text-black no-padding pull-right"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-xs-height">
                                    <div class="col-xs-height relative bg-master-lightest">
                                        <div class="widget-14-chart_y_axis web-server"></div>
                                        <div class="widget-14-chart web-server rickshaw-chart top-left top-right bottom-left bottom-right"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 m-b-6">

                        <div class="widget-14 res-server panel no-border  no-margin widget-loader-circle">
                            <div class="container-xs-height full-height">
                                <div class="row-xs-height">
                                    <div class="col-xs-height">
                                        <div class="panel-heading">
                                            <div class="panel-title">资源服务器状态
                                            </div>
                                            <div class="panel-controls">
                                                <ul>
                                                    <li><a href="javascript:;" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-xs-height" style="display: none;">
                                    <div class="col-xs-height">
                                        <div class="p-l-20 p-r-20">
                                            <p>Server: www.revox.io</p>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-12">
                                                    <h4 class="bold no-margin">5.2GB</h4>
                                                    <p class="small no-margin">Total usage</p>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <h5 class=" no-margin p-t-5">227.34KB</h5>
                                                    <p class="small no-margin">Currently</p>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <h5 class=" no-margin p-t-5">117.65MB</h5>
                                                    <p class="small no-margin">Average</p>
                                                </div>
                                                <div class="col-lg-3 visible-xlg">
                                                    <div class="widget-14-chart-legend res-server bg-transparent text-black no-padding pull-right"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-xs-height">
                                    <div class="col-xs-height relative bg-master-lightest">
                                        <div class="widget-14-chart_y_axis res-server"></div>
                                        <div class="widget-14-chart res-server rickshaw-chart top-left top-right bottom-left bottom-right"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <%- include inc/footer.html %>


    </div>

</div>




<%- include inc/script.html %>
<script src="/templete/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="/templete/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
<script src="/templete/plugins/nvd3/src/utils.js" type="text/javascript"></script>
<script src="/templete/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
<script src="/templete/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
<script src="/templete/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
<script src="/templete/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
<script src="/templete/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
<script src="/templete/plugins/rickshaw/rickshaw.min.js" type="text/javascript"></script>
<script>

    (function() {
        var container = '.widget-14-chart.web-server';
        var seriesData = [
            [],
            [],
            []
        ];
        var random = new Rickshaw.Fixtures.RandomData(50);
        for (var i = 0; i < 50; i++) {
            random.addData(seriesData);
        }
        var graph = new Rickshaw.Graph({
            element: document.querySelector(container),
            renderer: 'area',
            padding: {
                top: 0.5,
                bottom: 1
            },
            series: [{
                data: seriesData[0],
                color: $.Pages.getColor('success-light', .5),
                name: '数据服务器'
            }, {
                data: seriesData[1],
                color: $.Pages.getColor('master-light'),
                name: 'Web服务'
            }]
        });
        var y_axis = new Rickshaw.Graph.Axis.Y({
            graph: graph,
            orientation: 'right',
            tickFormat: function(y) {
                return y / 10;
            },
            element: document.querySelector('.widget-14-chart_y_axis.web-server'),
        });
        var legend = new Rickshaw.Graph.Legend({
            graph: graph,
            element: document.querySelector('.widget-14-chart-legend.web-server')
        });
        var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
            graph: graph,
            legend: legend
        });
        var hoverDetail = new Rickshaw.Graph.HoverDetail({
            graph: graph
        });
        setInterval(function() {
            random.removeData(seriesData);
            random.addData(seriesData);
            graph.update();
        }, 1000);
        d3.selectAll('.widget-14-chart_y_axis.web-server .tick.major line').attr('x2', '7');
        d3.selectAll('.widget-14-chart_y_axis.web-server .tick.major text').attr('x', '12');
        $(window).resize(function() {
            graph.configure({
                width: $(container).width()
            });
            graph.render()
        });
        $(container).data('chart', graph);
    })();
    (function() {
        var container = '.widget-14-chart.res-server';
        var seriesData = [
            [],
            [],
            []
        ];
        var random = new Rickshaw.Fixtures.RandomData(50);
        for (var i = 0; i < 50; i++) {
            random.addData(seriesData);
        }
        var graph = new Rickshaw.Graph({
            element: document.querySelector(container),
            renderer: 'area',
            padding: {
                top: 0.5,
                bottom: 1
            },
            series: [{
                data: seriesData[0],
                color: $.Pages.getColor('complete-lighter', .5),
                name: '响应速度'
            }, {
                data: seriesData[1],
                color: $.Pages.getColor('complete-light'),
                name: 'IO硬盘读写'
            }]
        });
        var y_axis = new Rickshaw.Graph.Axis.Y({
            graph: graph,
            orientation: 'right',
            tickFormat: function(y) {
                return y / 10;
            },
            element: document.querySelector('.widget-14-chart_y_axis.res-server'),
        });
        var legend = new Rickshaw.Graph.Legend({
            graph: graph,
            element: document.querySelector('.widget-14-chart-legend.res-server')
        });
        var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
            graph: graph,
            legend: legend
        });
        var hoverDetail = new Rickshaw.Graph.HoverDetail({
            graph: graph
        });
        setInterval(function() {
            random.removeData(seriesData);
            random.addData(seriesData);
            graph.update();
        }, 1000);
        d3.selectAll('.widget-14-chart_y_axis.res-server .tick.major line').attr('x2', '7');
        d3.selectAll('.widget-14-chart_y_axis.res-server .tick.major text').attr('x', '12');
        $(window).resize(function() {
            graph.configure({
                width: $(container).width()
            });
            graph.render()
        });
        $(container).data('chart', graph);
    })();

</script>
</body>
</html>