<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>系统概览</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <%- include inc/style.html %>
</head>
<body class="fixed-header <%= menupin %> ">

<%- include inc/sidebar.html %>


<div class="page-container">

    <%- include inc/header.html %>



    <div class="page-content-wrapper">

        <div class="content" id="content">

            <div class="jumbotron" data-pages="parallax">
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="inner">

                        <ul class="breadcrumb">
                            <li>
                                <p>baleina</p>
                            </li>
                            <li><a href="#" class="active">系统概览</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid container-fixed-lg">

            </div>
        </div>




        <%- include inc/footer.html %>


    </div>

</div>




<%- include inc/script.html %>

</body>
</html>